head{ 
    margin: 0 auto; width: 80%; padding: 20px;}

header{
     margin: 0 auto; width: 80%; padding: 0px;
    color: rgb(93, 93, 93); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h1 {text-shadow: 2px 2px 4px #a7a7a7;}

    p { 
        font-size: 18px; margin-top: -15px; margin-bottom: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ; }

body {
margin: 0 auto; width: 100%; padding: 0px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
background: #7ab6ff;
padding: 0 20px;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

nav ul li {
margin: 5px;
}

nav ul li a {
display: block;
padding: 20px 20px;
color: #ffffff;
text-decoration: none;
display: flex;justify-content: center;
gap: 10px;
text-shadow: 2px 2px 4px #454545;
}

nav ul li a:hover {
background: #c6d9f1;
}

footer {
    background-color:#7ab6ff ; text-align: center; padding: 10px; margin-top: 20px;}